<%provide(:title, 'About | RemApp ') %>
<%= render '/patients/shared/header'%>
<div class="row">
	<div class="large-6 columns">
		<h1>About</h1>
		<h5>Schedule appointments without going to a doctor's office/hospital.</h5>
		<p style="pa">Sometimes you just need an appointment – whether you’re at home in the middle of the night or in the middle of a road trip or in your office. Now you can schedule appointment to a doctor any time of day, wherever you are (see Availability). RemApp Online lets you have schedule appointment with a doctor on your computer. It’s medical advice the moment you need it. So simple. And it costs the same or less than you’d pay for a regular doctor visit.</p>
	</div>
	<div class="large-6 columns">
		<h1>image here</h1>
		<img src="/assets/index.jpg" class="large-12">
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h4>Convenient, direct appointments</h4>
		<p>
			RemApp Online uses instant access to connect you with hospitals .-with based board-certified doctors. And since it’s an online experience, it’s quick, easy and always on your terms. But convenience also comes with excellent service. Hospitals using RemApp Online are known for their best services, with it comes to patient - doctor appointments.
		</p>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h4>How it works</h4>
		<p>
			First you need to sign up, which is quick, easy and free to do. Be sure to enter your valid information since RemApp Online might be a covered system. Then, each time you log in, you'll see hosiptals available in your region. Simply click on the photo to view doctors availables, profile and languages spoken. 
		</p>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h4>It's fast</h4>
		<p>
			Once you select a doctor, click appointment and in just a few minutes you’ll have your appointment scheduled.
		</p>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h4>It's affordable</h4>
		<p>
			A typical RemApp Online visit free depending on your health plan. You’ll always see the plans  before beginning an appointment, to let you know before hand to see a RemApp doctor.
		</p>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h4>It's for everyone</h4>
		<p>
			Anyone can use RemApp Online, and doctors can help with many different health issues, such as:
		</p>
		<ul>
			<li>Allergie</li>
			<li>Bronchitis</li>
			<li>Flu</li>
			<li>Diarrhea</li>
			<li>Urinary tract infections</li>
			<li>Colds</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="large-4 columns">
		<div style="width: 100%; background: grey">
			<img src="/assets/bgimage.png" class="large-12">
		</div>
	</div>
	<div class="large-4 columns" style="text-align: center">
		<h2>Meet a doctor now</h2>
		<p>
			There's always a doctor ready to recieve you about your health issue, on your teams.
		</p>
	</div>
	<div class="large-4 columns" style="text-align: center">
		<button class="success button">Sign up</button>
		<button class="success button">Log in</button>
	</div>
</div>
<%= render '/patients/shared/footer' %>

