<%provide(:title, 'Health-Tips')%>
<%= render 'header' %>
<div class="row">
	<div class="large-4 columns" style="background: grey; height: 125px;">
	<div class="row">
		<div class="large-12 columns">
				content one
		</div>
	</div>
	
	</div>
	
	<div class="large-4 columns" style="background: wheat; height: 250px;">
		content two
	</div>
	<div class="large-4 columns" style="background: lightgrey; height: 500px">
		content three
	</div>
</div>
<div class="large-12">
	<h2>More stuffs here</h2>
</div>
<%= render 'footer' %>