<% provide(:title, 'How it works') %>
<%= render 'header' %>
<div class="row" style="margin-top: 20px">
	<div class="large-6 columns">
		<img src="/assets/bgimage.png">
	</div>
	<div class="large-6 columns">
		<h2>Sign Up</h2>
		<p>
			It couldn’t be easier – just tell us your name, email address and a password, then answer a couple questions. You can sign up for RemApp Assistance in just few minutes. 
		</p>
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<h2>Choose RemApp Hospital</h2>
		<p>
			Log in with your email address and password, and you’ll be taken to the Select a Hospital page. You’ll see information about the doctors who serve in your location. 
		</p>
	</div>
	<div class="large-6 columns">
		<img src="/assets/bgimage.png">
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<img src="/assets/bgimage.png">
	</div>
	<div class="large-6 columns">
		<h2>Start Appointment</h2>
		<p>
			Just click the Appointment button to notisfy the RemApp hospital of your choice. If that doctor is seeing another patient, you’ll have the option of going to pending waiting appointment or choosing another doctor who will be available at that moment.
		</p>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<h1>FAQ</h1>
			<p>Questions people ask</p>
			<ul>
				<li>How do I pay for my doctor visit?</li>
				<li>How do I know which doctors are in my network?</li>
				<li>Do my children over the age of 18 have to have their own account?</li>
				<li>What can the Customer Support Call Center do for me? </li>
				<li>How much does it cost?</li>
				
			</ul>
		</div>
	</div>
</div>





<%= render 'footer' %>