<%provide(:title, 'home') %>
<%= render 'header' %>
<div class="large-12">
  <div class="slider-top" style="background-color: #80cbc4; background-size: contain; width: 100%">
   
   <div style="text-align: center">
     <%= link_to "Get Started ", new_patient_path, class: 'button',
      style: 'margin-top: 350px; margin-left:100px; border-radius: 10px' %>
         
   </div>
   
  </div>
  
</div>
</nav>
<div class="row" style="margin-top: 8px;">
<div class="large-5 selectable columns">
    <h2>
      THE DOCTORS ARE ALWAYS IN.
    </h2>
      <h6>
        SEE A DOCTOR ON YOUR COMPUTER OR MOBILE DEVICE AND GET ANSWERS NOW.
      </h6>
    
    <p id="first"><span class="badge" id="first">+</span> OVERVIEW </p>
    <hr>
    <div id="overview1">
      <p>
        Sometimes you just need a doctor. And thanks to the Internet, you can connect to one anytime, anywhere – whether it’s the middle of the night or the middle of a road trip. Sign up for HCR Online and have an appointment with doctor of your choice on your computer.
      </p> 
    </div>
     <p id="second"><span class="badge" id="second">+</span> HOW IT WORKS  </p>
     <hr>
     <div id="overview2">
      <p>
        Just sign up and you’re ready to go. Select a doctor, and he or she can answer questions, assess your condition and even provide a prescription* if needed. Log in and you’ll see a list of doctors available and ready to talk 24 hours a day, 7 days a week just in case something happens.

        *Prescription availability is defined by physician judgment and state regulations. 
      </p>
    </div>
      <p id="third"><span class="badge" id="third">+</span> WHY YOU NEED IT </p>
      <hr>
      <div id="overview3">
      <p>
        Life doesn’t wait. So it’s good to know that if you can’t get in to see a doctor in person, you can still get a doctor’s care at the speed of your life. On your terms. Without scheduled appointments. Without a long wait. It’s the immediate service you need – and the honest, useful answers only a real doctor can offer.
      </p>

    </div>

  </div>
  <div class="large-7 columns">
    <img src="/assets/doctor_patient.png">
  </div>
</div>

<!-- starting treated cases div -->

<div class="treated-cases">
  <div class="row">
    
      <h1>COMMONLY TREATED CONDITIONS</h1>
    
    <div class="large-6 medium-6 small-6 columns">
    <div>
      <p id="first"><span class="badge">+</span> COUGH</p>
      <div>
        <p>
          Your cough may be the result of a common cold, but if it continues for more than a few days with no signs of relief, you may want to see a doctor. A persistent cough can be a sign of something more serious.
        </p>
      </div>
      <hr>
    </div>
    <div>
      <p id="first"><span class="badge">+</span> COLD </p>
      <div>
        <p>
          A cold is an infection of the nose and throat that can cause a runny nose, sore throat, cough or congestion. It’s usually harmless, but see a doctor if symptoms persist.
        </p>
      </div>
      <hr>
    </div>
    <div>
      <p id="first"><span class="badge">+</span> MINOR RASHES </p>
      <div>
        <p>
         Skin rashes like eczema, hand foot and mouth, and impetigo can be caused by infections, heat, allergens, immune system disorders and medications. Most aren't serious, but it’s important to check with a doctor and get the right treatment if needed. 
        </p>
      </div>
      <hr>
    </div>
    <div>
      <p id="first"><span class="badge">+</span> ALLERGIES </p>
      <div>
        <p>
          Allergy symptoms occur when the immune system reacts to a foreign substance (pollen, bee venom, pet dander, medication). Severity can range from minor to life threatening. See a doctor if symptoms increase, especially after starting new medication.
        </p>
      </div>
      <hr>
    </div>
    
      
    </div>

    <div class="large-6 medium-6 small-6 columns">
      <div>
      <p><span class="badge">+</span> EAR PAIN</p>
      <div>
        <p>
          Your cough may be the result of a common cold, but if it continues for more than a few days with no signs of relief, you may want to see a doctor. A persistent cough can be a sign of something more serious.
        </p>
      </div>
      <hr>
    </div>
    <div>
      <p id="first"><span class="badge">+</span> FEVER</p>
      <div>
        <p>
          A cold is an infection of the nose and throat that can cause a runny nose, sore throat, cough or congestion. It’s usually harmless, but see a doctor if symptoms persist.
        </p>
      </div>
      <hr>
    </div>
    <div>
      <p id="first"><span class="badge">+</span> HEADACHE</p>
      <div>
        <p>
         Skin rashes like eczema, hand foot and mouth, and impetigo can be caused by infections, heat, allergens, immune system disorders and medications. Most aren't serious, but it’s important to check with a doctor and get the right treatment if needed. 
        </p>
      </div>
      <hr>
    </div>
    <div>
      <p id="first"><span class="badge">+</span>  DIARRHEA </p>
      <div>
        <p>
          Allergy symptoms occur when the immune system reacts to a foreign substance (pollen, bee venom, pet dander, medication). Severity can range from minor to life threatening. See a doctor if symptoms increase, especially after starting new medication.
        </p>
      </div>
      <hr>
    </div>
    </div>
  </div>
</div>
<!-- end the treated case div here -->
<div class="row">
  <div class="large-12 available-doctors columns">
    <h2>Meet the Doctors</h2>
    <h4>There's always a doctor ready to talk to you about your health issue, with little to no wait time.</h4>
  </div>
</div>
<div class="row">
  <div class="large-4 large-offset-4 columns" style="background: #80cbc4;  margin-top: 10px;">
    <div style="text-align: center; height: 550px; margin-top: 10px;">
     <img src="/assets/availdocs.svg" style="border-radius: 190px; background: #004d40;">
     <h4>name, location, speciality</h4>
     <p>details, experience</p>
    </div>

  </div>
</div>
<div style="width:100%; background: #004d40; height: 500px; margin-top: 10px;">
  <div class="row">
    <div class="large-6 columns">
      <div class="separators" style="background: #ffffff; width; 100%; height: 250px">
        <ul class="menu footerInner">
          <li><a href="#" class="active">NEWS</a></li>
          <li><a href="#">HEALTH TIPS</a></li>
          <li><a href="#">HEALTH TIPS</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


