<%provide(:title, 'News') %>
<%= render 'header' %>
<div class="row">
	<div class="large-7 columns">
		<div class="row">
			<div class="large-12" style="height: 550px; background: purple;">
				<h1>content here</h1>
			</div>
		</div>
	</div>
</div>
<%= render 'footer' %>