<%provide(:title, 'Lastest Health News | RemApp ') %>
<%= render 'header' %>
<div class="row">
<h2>News</h2>
	<div class="large-7 columns">
		<div class="row">
			<div class="large-12 columns">
				<h1>
					Marijuana's Mainstream Move Triggers Different Kinds Of Family Talks
				</h1>
				<p> September 5, 20164:29 PM ET </p>
				<img src="/assets/index.jpg">
				<p>
					Debbie Moak, of Phoenix, is against the legalization of marijuana for recreational use. She worries about the potential for people to move from marijuana to harder drugs.
					Stina Sieg/KJZZ </p>
				<p>
					If pot laws were colors, a map of the U.S. map would resemble a tie-dye T-shirt.

					In some states, marijuana is illegal. In others, it's legal for medical purposes. And still in others, it is even legal for recreational use.

					Recreational pot has been legal in Oregon now for a year, but it was a long time coming. Voters approved medicinal pot 20 years ago. Arizona is voting on it this fall – along with California, Nevada, Maine and Massachusetts. It was only six years ago that Arizona approved marijuana for medicinal use.

					The Arizona measure is making some voters nervous. A group that includes two county attorneys even sued, unsuccessfully, to get it off the ballot. <a href="#">Read more...</a>
				</p>
			</div>
			<hr>
			<div class="large-12 columns">
				<div class="row">
					<div class="large-12 columns">
						<h3>RemApp Virtual Consultation: Could you consult to a RemApp Doctor using your laptop/phone?
						Future....</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="large-4 columns" style=" background: lightgrey;">
		<h1>image div here</h1>
		<img src="/assets/bgimage.png">
		<hr>
		<div class="row">
			<div class="large-12 columns">
				<h2>Tweets by @RemApp</h2>
				<div style="border: 2px solid #000000">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render 'footer' %>