<%provide(:title, 'Terms Of Use') %>
<%= render 'header' %>

<div class="row" style="margin-top: 30px">
	<div class="large-12 columns">
		<h4 style="">Terms of Use</h4>
		 <p>
		 	RemApp Online is owned and operated by Health Management System ("HMS"). HMS makes this site available for the sole purpose of facilitating appointments between hospitals and consumers who choose to use the online service to arrange appointments with doctors.
		 </p>
		 <h5>YOUR USE OF REMAPP ONLINE</h5>
		 <P>
		 	Interaction with health services providers using REMAPP Online is not intended to take the place of appointments with your regular primary care provider but to make arranging appointment to your doctor fast and in easy steps. You are encouraged to develop a relationship with your primary health care unit. Do not disregard medical advice from your regular doctor or other health professional because of information provided by a health services provider via REMAPP Online.
		 </P>
		 <h5>
		 	INFORMATION ABOUT HEALTH SERVICE PROVIDERS
		 </h5>
		 <p>
		 	Users of the REMAPP Online communication tool are ultimately responsible for choosing which health services provider to communicate with.
		 </p>
		 <h5>CHARGES FOR SERVICES</h5>
		 <p>
		 		You will be informed of the fee to be charged when you select a hospital. Fees may vary from hospital to hospital. You will only pay on visit, which will be verified prior to your online visit. You will not be able to use RemApp Online to communicate with a hospital if th information you provide is inaccurate or if your mobile number is not active.

				In the event there will be a delay within the first minutes of the appointment. You will not be charged any fee other than the fee for your visit with your selected Doctor.

				In order to facilitate payment for your online appointments, RemApp will provide a means to make payment online using your virtual money accounts. 
		 </p>

		 <h5>PASSWORDS AND ACCOUNT</h5>
		 <p>
		 	Your username and password (collectively, the "Password") will allow you to access the RemApp Online hospital appointmnet tool. You are solely responsible for controlling your Password, and are prohibited from making available your Password to any third party. You are responsible for all activities that occur under your Password. You agree to notify RemApp Online Customer Support at xxxxxxxxxx immediately of any unauthorized use of your Password or of any need to reset or lock down the Password(s) associated with your account.
		 </p>

		 <h5>ACCEPTABLE USE</h5>
		 <p>
		 	You agree not to access or use the LiveHealth Online communication tool for an unlawful or illegitimate purpose. You shall not attempt to disrupt the operation of the services or the RemApp Online system. You shall not attempt to gain unauthorized access to any user accounts or computer systems or networks.
		 </p>
	</div>
	<div class="large-12 columns" style="margin-top: 50px; margin-bottom: 10px">
		<div class="row">
			<div class="large-12 columns">
				<div style="text-align: center">
					<h6>
					RemApp online is a team of individual at various locations, <br>
					including, Yaounde, Buea, Douala
					</h6>
					<p>&copyright 2016 VRA. All rights reserved.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render 'footer' %>